.heading{background: #B0c4de; height: 75px; border-bottom: 2px solid #2F4F4F;}
.header{
  display: inline-block;
  text-align: center;
  width: 150px;
}
h1{width: 150px; height: 30px;}
p{width: 150px; height: 30px; color: #2F4F4F;margin-top: 30px;}
#header-subtitle{
  position: static; float: right;
}