*{margin:0;padding:0;}
html, body{height:100%; min-height: 100%; width:100%; min-width: 1280px}
/*HEADING SECTION*/
/*TITLE/SUBTITLE*/
  .heading{background: #FF6464; height: 100px; border-bottom: 2px solid #2F4F4F;}
  h1{font-size: 50px; font-family: Arial, sans-serif; float: left;margin-top: 10px;margin-left: 10%;height: 1px;}
  p{font-size: 20px; font-family: Arial, sans-serif; opacity: 0.8;float:left; margin: 68px 0 0 -270px;height: 1px}
  a{text-decoration: none;color: #FFD3D3;}

/*SOCIAL MEDIA*/
  .nav-social{display: inline-block; float: right; margin:30px 20px 0 0}
  .nav-social-item{display:inline-block;float:right;margin: 0 1px 0 0;}

/* FEATURE PHOTO SECTION*/
  .feature{display:block; margin:0 auto; width:1080px;}
  .feature > div{float:left;}
  #korver-big{margin-left:auto;margin-right:auto;}
  .feature-photo-big{margin: 20px 5px 10px 0;}
  .feature-photo-topcenter{margin: 20px 5px 5px 5px;}
  .feature-photo-topright{margin: 20px 0 5px 5px;}
  .feature-photo-bottomcenter{margin: -249px 5px 10px 5px;}
  .feature-photo-bottombanner{margin-top: 5px;}

.everything{background-color: #567DBF; height: 100%}

