/*HEADING SECTION*/
/*TITLE/SUBTITLE*/
  .heading{background: #FF6464; height: 100px; border-bottom: 2px solid #2F4F4F;}
  h1{font-size: 50px; font-family: Arial, sans-serif; float: left;margin-top: 10px;margin-left: 10%;height: 1px;}
  p{font-size: 20px; font-family: Arial, sans-serif; opacity: 0.8;float:left; margin: 68px 0 0 -270px;height: 1px}
  a{text-decoration: none;color: #FFD3D3;}

/*SOCIAL MEDIA*/
  .nav-social{display: inline-block; float: right; margin:30px 20px 0 0}
  .nav-social-item{display:inline-block;float:right;margin: 0 1px 0 0;}

/* FEATURE PHOTO SECTION*/
  .feature{margin: 0 auto; width: 99%;}
  .feature > div{float: left;}
  .feature-photo-big{padding: 10px;}
  #korver-big{height: 460px; width: 600px;}
  .feature-photo-topleft{padding: 10px 5px 5px 5px;}
  .feature-photo-topright{padding: 10px 10px 5px 5px;}
  .feature-photo-bottomleft{padding: 5px 5px 10px 5px;}
  .feature-photo-bottomright{padding: 5px 10px 10px 5px;}

