/*HEADING SECTION*/
  .heading{background: #FF6464; height: 100px; border-bottom: 2px solid #2F4F4F;}
  h1{border: 1px solid red; font-size: 50px; font-family: Arial, sans-serif; float: left;margin: auto;}
  p{border: 1px solid red; font-size: 25px; font-family: Arial, sans-serif;float: right; opacity: 0.6;margin: 38px 5% 0 0;}
  a{text-decoration: none;color: #5F62C6;}
  .red{color: #1A1EB2;}

/* FEATURE PHOTO SECTION*/
  .feature{margin: 0 auto; width: 99.9%;}
  .feature > div{float: left;}
  .feature-photo-big{padding: 10px;}
  #korver-big{height: 460px; width: 600px;}
  .feature-photo-topleft{padding: 10px 5px 5px 5px;}
  .feature-photo-topright{padding: 10px 10px 5px 5px;}
  .feature-photo-bottomleft{padding: 5px 5px 10px 5px;}
  .feature-photo-bottomright{padding: 5px 10px 10px 5px;}

